<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MailCampaigns\Magento2Connector\Api\ApiClientInterface" type="MailCampaigns\Magento2Connector\Helper\ApiClient"/>
    <preference for="MailCampaigns\Magento2Connector\Api\ApiHelperInterface" type="MailCampaigns\Magento2Connector\Helper\ApiHelper"/>
    <preference for="MailCampaigns\Magento2Connector\Api\ApiPageHelperInterface" type="MailCampaigns\Magento2Connector\Helper\ApiPageHelper"/>
    <preference for="MailCampaigns\Magento2Connector\Api\ApiQueueHelperInterface" type="MailCampaigns\Magento2Connector\Helper\ApiQueueHelper"/>
    <preference for="MailCampaigns\Magento2Connector\Api\ApiStatusHelperInterface" type="MailCampaigns\Magento2Connector\Helper\ApiStatusHelper"/>
    <preference for="MailCampaigns\Magento2Connector\Api\CustomerSynchronizerInterface" type="MailCampaigns\Magento2Connector\Model\Synchronizer\CustomerSynchronizer"/>
    <preference for="MailCampaigns\Magento2Connector\Api\OrderSynchronizerInterface" type="MailCampaigns\Magento2Connector\Model\Synchronizer\OrderSynchronizer"/>
    <preference for="MailCampaigns\Magento2Connector\Api\ProductSynchronizerInterface" type="MailCampaigns\Magento2Connector\Model\Synchronizer\ProductSynchronizer"/>
    <preference for="MailCampaigns\Magento2Connector\Api\ProductSynchronizerHelperInterface" type="MailCampaigns\Magento2Connector\Model\Synchronizer\ProductSynchronizerHelper"/>
    <preference for="MailCampaigns\Magento2Connector\Api\QuoteSynchronizerInterface" type="MailCampaigns\Magento2Connector\Model\Synchronizer\QuoteSynchronizer"/>
    <preference for="MailCampaigns\Magento2Connector\Api\SubscriberManagementInterface" type="MailCampaigns\Magento2Connector\Model\SubscriberManagement"/>
    <preference for="MailCampaigns\Magento2Connector\Api\SubscriberSynchronizerInterface" type="MailCampaigns\Magento2Connector\Model\Synchronizer\SubscriberSynchronizer"/>
</config>
