<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mailcampaigns" translate="label" sortOrder="1000">
            <label>MailCampaigns</label>
        </tab>
        <section id="mailcampaigns_api" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Algemeen</label>
            <tab>mailcampaigns</tab>
            <resource>MailCampaigns_Magento2Connector::config</resource>
            <group id="info" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>MailCampaigns Connector</label>
                <comment><![CDATA[<span style="display: none">De connector is succesvol geïnstalleerd! Je kunt alle instellingen vinden onder `scope`.</span>]]></comment>
                <field id="module_version" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Versie</label>
                    <frontend_model>MailCampaigns\Magento2Connector\Block\Adminhtml\System\Config\ModuleVersion</frontend_model>
                    <comment><![CDATA[<input name="disable_autofill_appkey" type="text" style="display:none!important;"><input name="disable_autofill_secret" type="password" style="display:none!important;">]]></comment>
                </field>
            </group>
            <group id="general" translate="label" type="text" sortOrder="20" showInDefault="0" showInWebsite="0" showInStore="1">
                <label>Api Configuratie</label>
                <comment><![CDATA[Om een koppeling te kunnen realiseren met MailCampaigns, moeten hieronder de API gegevens worden ingevuld. Deze gegevens kunnen in je <a href="https://manager.mailcampaigns.nl/" title="MailCampaigns Manager" target="_blank" style="color: tomato; text-decoration: underline;">MailCampaigns account</a> gevonden worden onder <em style="font-weight: 600;">Integraties > Software koppelingen > Magento 2</em> (onderaan de pagina).]]></comment>
                <field id="api_key" translate="label" type="text" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>API Key</label>
                    <comment>Een 25-karakter string zoals te zien in Integraties > Software koppelingen > Magento 2 > API Key.</comment>
                </field>
                <field id="api_token" translate="label" type="text" sortOrder="20" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>API Token</label>
                    <comment>Een 25-karakter string zoals te zien in Integraties > Software koppelingen > Magento 2 > API Token.</comment>
                </field>
            </group>
        </section>
        <section id="mailcampaigns_realtime_sync" translate="label" type="text" sortOrder="200" showInDefault="0" showInWebsite="0" showInStore="1">
            <label>Realtime Synchronisatie</label>
            <tab>mailcampaigns</tab>
            <resource>MailCampaigns_Magento2Connector::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                <label>Realtime Synchronisatie</label>
                <comment>De MailCampaigns Connector kan diverse onderdelen van je Magento webshop synchroniseren met MailCampaigns. Hieronder kun je aangeven welke gegevens up-to-date moeten blijven.</comment>
                <field id="import_customers" translate="label" type="select" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Klanten</label>
                    <comment>Klanten synchroniseren?</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="import_mailing_list" translate="label" type="select" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Mailinglijst</label>
                    <comment>Mailinglijst synchroniseren?</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="import_products" translate="label" type="select" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Producten</label>
                    <comment>Producten synchroniseren?</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="import_orders" translate="label" type="select" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Orders</label>
                    <comment>Orders en bijbehorende producten synchroniseren?</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="import_quotes" translate="label" type="select" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Winkelmandjes</label>
                    <comment>Winkelmandjes en bijbehorende producten synchroniseren?</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
        <section id="mailcampaigns_tracking" translate="label" type="text" sortOrder="300" showInDefault="0" showInWebsite="0" showInStore="1">
            <label>Tracking</label>
            <tab>mailcampaigns</tab>
            <resource>MailCampaigns_Magento2Connector::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                <label>Tracking</label>
                <comment>De MailCampaigns Connector kan pagina bezoeken op je website naar MailCampaigns loggen om te gebruiken in segmentatie of automatisatie.</comment>
                <field id="tracking_code" translate="label" type="select" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Pagina's</label>
                    <comment>Alle pagina bezoeken volgen?</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="tracking_code_order_success" translate="label" type="select" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Orders</label>
                    <comment>Alle geplaatste orders volgen?</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="tracking_quote_session" translate="label" type="select" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Quotes</label>
                    <comment><![CDATA[Onbekende quotes koppelen aan sessies? (<span style="color: tomato;">Beta!</span>)]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
        <section id="mailcampaigns_historical_sync" translate="label" type="text" sortOrder="400" showInDefault="0" showInWebsite="0" showInStore="1">
            <label>Bulk Import</label>
            <tab>mailcampaigns</tab>
            <resource>MailCampaigns_Magento2Connector::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                <label>Bulk Import</label>
                <comment>De MailCampaigns Connector kan ook met terugwerkende kracht diverse onderdelen van je Magento webshop exporteren naar MailCampaigns. Hieronder kun je aangeven welke gegevens met terugwerkende kracht gesynchroniseerd moeten worden.</comment>
                <field id="import_customers_title" translate="label" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Klanten</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                </field>
                <field id="import_customers_history" translate="label" type="select" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Klanten Importeren?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="import_customers_amount" translate="label" type="text" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Aantal Klanten</label>
                    <comment>Het aantal klanten per cron run</comment>
                </field>
                <field id="import_mailing_list_title" translate="label" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Inschrijvers</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                </field>
                <field id="import_mailing_list_history" translate="label" type="select" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Inschrijvers Importeren?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="import_mailing_list_amount" translate="label" type="text" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Aantal Inschrijvers</label>
                    <comment>Het aantal inschrijvers per cron run</comment>
                </field>
                <field id="import_products_title" translate="label" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Producten</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                </field>
                <field id="import_products_history" translate="label" type="select" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Producten Importeren?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="import_products_amount" translate="label" type="text" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Aantal Producten</label>
                    <comment>Het aantal producten per cron run</comment>
                </field>
                <field id="import_order_title" translate="label" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Orders</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                </field>
                <field id="import_order_history" translate="label" type="select" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Orders Importeren?</label>
                    <comment>Orders en bijbehorende producten importeren?</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="import_order_amount" translate="label" type="text" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Aantal Orders</label>
                    <comment>Het aantal orders per cron run</comment>
                </field>
                <field id="import_order_products_amount" translate="label" type="text" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Aantal Order Producten</label>
                    <comment>Het aantal order producten per cron run</comment>
                </field>
            </group>
        </section>
    </system>
</config>
